$break-xsmall: 300px; // deprecated
$break-small: 576px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1280px;
$break-xxlarge: 1536px;
$contrast-color: #FC0;

$font-header: 'serif',Georgia,Times;
$font-subheader: 'serif',Georgia,Times;
$font-title: 'serif',Georgia,Times;
$font-subtitle: $font-title;
$font-text: 'sans-serif',-apple-system,system-ui,Helvetica Neue,Helvetica,Arial;
