$d: (
        small: (
                margin-bottom: 0,
                '.ico': (
                        padding: 0 30%,
                        margin: 0 0 1em 0,
                        height: 100px
                )
        )
);